<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href = "css/styles.css">
    </head>
    
    <body>
         {{>header}}
         <p> some text about....</p>
        {{>footer}}
    </body>
</html>